body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
svg {
    border: 1px solid white;
    background-color: black;
}
svg * {
    font-family: sans-serif;
    fill: white;
}

.map{
    display: flex;
    justify-content: center;
    height: 100%;
    width:  100%;
}



