body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
svg {
    border: 1px solid white;
    background-color: black;
}
svg * {
    font-family: sans-serif;
    fill: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width:  100vw;
}

.chloroplethMapContainer{
    width: 100%;
    height: 100%;
}


